@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http

<main>
    <div class="content">
        <h2 class="title">My Projects</h2>
                    <AuthorizeView Roles="Admin"> <!-- admin can add new project with add button-->
                        <Authorized>
                            <button class="btn-add" @onclick="AddNewproject">Add project</button> 
                        </Authorized>
                    </AuthorizeView>
        <p class="title-p">This section highlights a collection of projects I have developed to demonstrate my technical skills and understanding of software development. Each project focuses on building practical and efficient solutions using modern tools and technologies.</p>
        
        <!-- project card-->
        <div class="card-container">
            @foreach (var project in Projects)
            {
                <div class ="card"  @key="project.Id">


                    <!--project images-->
                    <div class="images">
                        <AuthorizeView Roles="Admin"> 
                            <Authorized>
                                <label class="image-upload">
                                    <InputFile multiple OnChange="(e) => HandleFiles(e, project)"/>
                                </label>
                            </Authorized> 
                        </AuthorizeView>
                        @if (project.Images.Any())
                            {
                                var currentImage = project.Images[project.CurrentImageIndex];
                                <div class=control-image>
                                    <button class="ctrl-image-left" @onclick="() => PrevImage(project)">
                                        <i class='bx bx-chevron-left'></i>
                                    </button>
                                    <img class="proj-image" src="@($"http://localhost:5276/{currentImage.ImageUrl}")"  />
                                    <button class="ctrl-image-right" @onclick="() =>  NextImage(project)">
                                        <i class='bx bx-chevron-right'></i>
                                    </button>
                                </div>
                                <AuthorizeView Roles="Admin">
                                    <Authorized>
                                        <button class="del-btn" @onclick="() => DeleteImage(project, currentImage)"><i class='bx bx-trash'></i</button>
                                    </Authorized>
                                </AuthorizeView>
                            }
                </div>


                <!--project name-->
                <div class="proj-name">
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            @if (project.IsEditing || string.IsNullOrWhiteSpace(project.ProjectName))
                                {
                                        <input type="text" calss="proj-input" @bind="project.ProjectName" placeholder="Enter project name.." />

                                        <div class="alter-btn">
                                            <button class="save" disabled="@string.IsNullOrWhiteSpace(project.ProjectName)" @onclick="() => UpdateProjectName(project)">
                                                <i class="bx bx-check"></i>
                                            </button>

                                            <button class="delete-btn" @onclick="() => ClearProjectName(project)">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <h5 class="proj-title"
                                            @onclick="() => EnableEdit(project)">
                                            @project.ProjectName
                                        </h5>
                                    }    
                        </Authorized>
                        <NotAuthorized>
                                    <h5 class="proj-title">
                                        @project.ProjectName
                                    </h5>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>  

                <!--project description-->
                <div class="proj-description">
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                             @if (project.IsEditing || string.IsNullOrWhiteSpace(project.Description))
                             {
                                <textarea class="proj-textarea" @bind="project.Description" placeholder="Enter description..."></textarea>
                                <div class="alter-btn">
                                            <button class="save" disabled="@string.IsNullOrWhiteSpace(project.Description)" @onclick="() => UpdateProjectDescription(project)">
                                                <i class="bx bx-check"></i>
                                            </button>

                                            <button class="delete-btn" @onclick="() => ClearProjectDescription(project)">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                </div>
                             }else
                             {
                                <p class="proj-view-description"
                                    @onclick="() => EnableEdit(project)">
                                    @project.Description
                                 </p>
                             }
                        </Authorized>
                        <NotAuthorized>
                            <p class="proj-view-description">
                                @project.Description
                            </p>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                
                <!--project skilles for each project-->
                <div class="proj-skills">
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="btn-add-skill" @onclick='() => AddProjectSkill(project)'>Add</button>
                        </Authorized>
                    </AuthorizeView>

                    @foreach (var skill in project.Skills)
                    {
                        <div class="skill-item" @key="skill">

                            @if (skill.IsEditing)
                            {
                                <input type="text" @bind="skill.Name" placeholder="Enter skill..." />

                                <div class="alter-btn-skill">
                                    <button @onclick="() => SaveProjectSkill(project, skill)">
                                        <i class="bx bx-check"></i>
                                    </button>

                                    <button @onclick="() => RemoveProjectSkill(project, skill)">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <AuthorizeView Roles="Admin">
                                    <Authorized>
                                        <span @onclick="() => EditProjectSkill(skill)" style="cursor:pointer">
                                            @skill.Name
                                        </span>
                                    </Authorized>

                                    <NotAuthorized>
                                        <span class="skillItself">@skill.Name</span>
                                    </NotAuthorized>
                                </AuthorizeView>
                            }

                        </div>
                    }

                </div>

                <!--delete the hole project-->
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="del-proj-btn" @onclick="() => DeleteProject(project)">DELETE PROJECT</button>
                        </Authorized>
                    </AuthorizeView>
                </div> 
            }       
        </div>
    </div>
</main>


@code {

    private List<Project> Projects = new();
    string BaseUrl = "http://localhost:5276/";
    private int counter = 1;
    protected override async Task OnInitializedAsync()//uploding the projects list from database
    {
        Projects = await Http.GetFromJsonAsync<List<Project>>("api/Project/GetAll")
                ?? new List<Project>();
    }

    string GetImageUrl(string path) 
    {
        return $"{BaseUrl}{path}"; 
    }

    async Task HandleFiles(InputFileChangeEventArgs e, Project project)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            var content = new MultipartFormDataContent();

            var stream = file.OpenReadStream(maxAllowedSize: 10_000_000);
            var fileContent = new StreamContent(stream);

            fileContent.Headers.ContentType =
                new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

            content.Add(fileContent, "file", file.Name);

            var response = await Http.PostAsync(
                $"api/Project/UploadImage/{project.Id}", content);

            if (response.IsSuccessStatusCode)
            {
                var newImage = await response.Content.ReadFromJsonAsync<ProjectImage>();

                if (newImage != null)
                {
                    project.Images.Add(newImage); 
                }
            }
        }
    }
    async Task DeleteImage(Project project, ProjectImage image)
    {
        await Http.DeleteAsync($"api/Project/DeleteImage/{image.Id}");

        project.Images.Remove(image);

        if (project.CurrentImageIndex >= project.Images.Count)
            project.CurrentImageIndex = 0;
    }

    void NextImage(Project project)
    {
        if (!project.Images.Any()) return;

        project.CurrentImageIndex = (project.CurrentImageIndex + 1) % project.Images.Count;
    }

    void PrevImage(Project project)
    {
        if (!project.Images.Any()) return; 
        
        project.CurrentImageIndex = (project.CurrentImageIndex - 1 + project.Images.Count) % project.Images.Count;
    }

    async Task AddNewproject()
    {

        var newProject = new
        {
            ProjectName = "New Project",
            Description = "Description here"
        };

        var res = await Http.PostAsJsonAsync($"api/Project/Create", newProject);

        if (!res.IsSuccessStatusCode)
        {
            Console.WriteLine(await res.Content.ReadAsStringAsync());
            return;
        }

        var created = await res.Content.ReadFromJsonAsync<Project>();

        if (created != null)
            Projects.Add(created);
    }

  
    async Task DeleteProject(Project project){  //delete hole project

        var response = await Http.DeleteAsync($"http://localhost:5276/api/Project/DeleteProject/{project.Id}");

        if (response.IsSuccessStatusCode)
        {
            //delete from list Projects the project
            Projects.Remove(project);
        }
        else
        {
            Console.WriteLine("Delete failed");
        }
    }
    async Task UpdateProjectName(Project project)
    {

        if (string.IsNullOrWhiteSpace(project.ProjectName))
        {
            Console.WriteLine("Project name cannot be empty");
            return;
        }

        var response = await Http.PutAsJsonAsync(
            $"api/Project/UpdateName/{project.Id}",
            project.ProjectName
        );

        if (response.IsSuccessStatusCode)
        {
            var updatedProject = await response.Content.ReadFromJsonAsync<Project>();

            project.ProjectName = updatedProject.ProjectName;

            project.IsEditing = false;
        }
        else
        {
            Console.WriteLine("Update failed");
        }
    }

   void ClearProjectName(Project project)
    {
        project.ProjectName = "";
        StateHasChanged();
    }

    // update and add project discription
    async Task UpdateProjectDescription(Project project)
    {

        if (string.IsNullOrWhiteSpace(project.Description))
        {
            Console.WriteLine("Project description cannot be empty");
            return;
        }

        var response = await Http.PutAsJsonAsync(
            $"api/Project/UpdateDescription/{project.Id}",
            project.Description
        );

        if (response.IsSuccessStatusCode)
        {
            var updatedProject = await response.Content.ReadFromJsonAsync<Project>();

            project.Description = updatedProject.Description;

            project.IsEditing = false;
        }
        else
        {
            Console.WriteLine("Update failed");
        }
    }

       void ClearProjectDescription(Project project)
    {
        project.Description = "";
        StateHasChanged();
    }
 
    // add and remove skills for each project
    void AddProjectSkill(Project project) //add new skill
    {
        project.Skills.Add(new ProjectSkill
        {
            Name = "",
            ProjectId = project.Id,
            IsEditing = true
        });

        StateHasChanged();
    }
    async Task SaveProjectSkill(Project project, ProjectSkill skill)
    {
        if (string.IsNullOrWhiteSpace(skill.Name))
            return;

        HttpResponseMessage response;

        if (skill.Id == 0)
        {
            // ADD
            var content = new StringContent(
                $"\"{skill.Name}\"", 
                System.Text.Encoding.UTF8,
                "application/json"
            );

            response = await Http.PostAsync(
                $"api/Project/{project.Id}/skills",
                content
            );

            if (response.IsSuccessStatusCode)
            {
                var created = await response.Content.ReadFromJsonAsync<ProjectSkill>();
                if (created != null)
                    skill.Id = created.Id;
            }
        }
        else
        {
            // UPDATE
            var content = new StringContent(
                $"\"{skill.Name}\"",
                System.Text.Encoding.UTF8,
                "application/json"
            );

            response = await Http.PutAsync(
                $"api/Project/skills/{skill.Id}",
                content
            );
        }

        if (response.IsSuccessStatusCode)
        {
            skill.IsEditing = false;
        }

        StateHasChanged();
    }

    async Task RemoveProjectSkill(Project project, ProjectSkill skill)
    {
        if (skill.Id == 0)
        {
            project.Skills.Remove(skill);
            return;
        }

        var response = await Http.DeleteAsync( $"api/Project/skills/{skill.Id}");

        if (response.IsSuccessStatusCode)
        {
            project.Skills.Remove(skill);
        }

        StateHasChanged();
    }
    void EditProjectSkill(ProjectSkill skill)
    {
        skill.IsEditing = true;
    }

    void EnableEdit(Project project)
    {
        project.IsEditing = true;
        StateHasChanged();
    } 


    class Project{
        public string ProjectName { get; set; } = ""; //project name
        public int Id { get; set; } //project id
        public bool IsEditing { get; set; } = false; //for modification on specific project
        public string Description { get; set; } = ""; //project description
        public List<ProjectSkill> Skills { get; set; } = new(); //skills learnd in project
        public List<ProjectImage> Images { get; set; } = new(); //images for project
        public int CurrentImageIndex  { get; set; }= 0;  //image index for specific image in list images in project
    }

    class ProjectSkill
    {
        public int Id { get; set; }
        public string Name { get; set; }= "";
        public int ProjectId { get; set; }
        public bool IsEditing { get; set; } = false;

    }
    public class ProjectImage
    {
        public int Id { get; set; }
        public string ImageUrl { get; set; } = "";
        public int ProjectId { get; set; }
    }
}