@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient Http
<main>
    <div class="skils-section">
        <h2>Skills & Technologies </h2>
        <div class="skills-containers">
            <div class="front-back-tool-sec">
                <div class="header">
                    <h5>Frontend</h5>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <button class="btn-add" @onclick='() => AddNewSkill(FrontendSkills, "frontend")'>Add</button> 
                        </Authorized>
                    </AuthorizeView>
                </div>
                <div class="hole-skills">
                    <div class="myS">
                        @foreach (SkillItem skill in FrontendSkills)
                        {
                            <div class="skill" @key="skill">
                                @if (skill.IsEditing)
                                { 
                                        <InputText class="input" " @bind-Value="skill.Name" placeholder="Enter.." />

                                        <div class="alter-btn">
                                            <button class="alter" @onclick="() => SaveSkill(skill)">
                                                <i class="bx bx-check"></i>
                                            </button>
                                            <button class="delete-btn" @onclick="() => DeleteSkill(FrontendSkills, skill)">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                        </div>
                                }
                                else
                                {
                                <AuthorizeView Roles="Admin"> 
                                    <Authorized>
                                         <span @onclick="() => EditSkill(skill)" style="cursor:pointer"> @skill.Name </span>
                                    </Authorized> 
                                <NotAuthorized> 
                                    <span>@skill.Name</span>
                                </NotAuthorized> 
                                </AuthorizeView>
                                }
                            </div>
                        }
                        </div>
                    </div>
                </div>

                <div class="front-back-tool-sec">
                    <div class="header">
                        <h5>Backend</h5>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn-add" @onclick='() => AddNewSkill(BackendSkills, "backend")'>Add</button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <div class="hole-skills">
                        <div class="myS">
                             @foreach (SkillItem skill in BackendSkills)
                        {
                            <div class="skill" @key="skill">
                                @if (skill.IsEditing)
                                { 
                                        <InputText class="input" @bind-Value="skill.Name" placeholder="Enter.." />

                                        <div class="alter-btn">
                                            <button class="alter" @onclick="() => SaveSkill(skill)">
                                                <i class="bx bx-check"></i>
                                            </button>
                                            <button class="delete-btn" @onclick="() => DeleteSkill(BackendSkills,skill)">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                        </div>
                                }
                                else
                                {
                                <AuthorizeView Roles="Admin"> 
                                    <Authorized>
                                         <span @onclick="() => EditSkill(skill)" style="cursor:pointer"> @skill.Name </span>
                                    </Authorized> 
                                <NotAuthorized> 
                                    <span>@skill.Name</span>
                                </NotAuthorized> 
                                </AuthorizeView>
                                }
                            </div>
                        }
                        </div>
                    </div>
                </div>
                <div class="front-back-tool-sec">
                    <div class="header">
                        <h5>Tools & Databases</h5>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn-add"  @onclick='() => AddNewSkill(DatabaseSkills,"tools")'>Add</button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <div class="hole-skills">
                        <div class="myS">
                             @foreach (SkillItem skill in DatabaseSkills)
                            {
                            <div class="skill" @key="skill">
                                @if (skill.IsEditing)
                                { 
                                        <InputText class="input" @bind-Value="skill.Name" placeholder="Enter.." />

                                        <div class="alter-btn">
                                            <button class="alter" @onclick="() => SaveSkill(skill)">
                                                <i class="bx bx-check"></i>
                                            </button>
                                            <button class="delete-btn" @onclick="() => DeleteSkill(DatabaseSkills,skill)">
                                                <i class='bx bx-trash'></i>
                                            </button>
                                        </div>
                                }
                                else
                                {
                                <AuthorizeView Roles="Admin"> 
                                    <Authorized>
                                         <span @onclick="() => EditSkill(skill)" style="cursor:pointer"> @skill.Name </span>
                                    </Authorized> 
                                <NotAuthorized> 
                                    <span>@skill.Name</span>
                                </NotAuthorized> 
                                </AuthorizeView>
                                }
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
@code {
    public List<SkillItem> FrontendSkills= new();//fornt end list
    public List<SkillItem> BackendSkills= new();//back end list
    public List<SkillItem> DatabaseSkills= new(); //database and tools list 
    protected override async Task OnInitializedAsync()//to get data from database before component render to load data
    {
        FrontendSkills = await Http.GetFromJsonAsync<List<SkillItem>>("api/SkillsModification/GetAll?category=frontend") ?? new List<SkillItem>();
        BackendSkills = await Http.GetFromJsonAsync<List<SkillItem>>("api/SkillsModification/GetAll?category=backend") ?? new List<SkillItem>();
        DatabaseSkills = await Http.GetFromJsonAsync<List<SkillItem>>("api/SkillsModification/GetAll?category=tools") ?? new List<SkillItem>();

        StateHasChanged();//to re-render components with it's new data
         }
    void AddNewSkill(List<SkillItem> section, string category)//adding skill only in list depeneds on type (not sending it to database yet)
    {
        var newSkill = new SkillItem
        {
            Name = "",
            IsEditing = true,
            Category= category,
            Id = 0
        };
        section.Add(newSkill);

        StateHasChanged(); //re-render list in ui 
    }

    void EditSkill(SkillItem skill)
    {
        skill.IsEditing = true;
        StateHasChanged();
    }

    protected async Task SaveSkill(SkillItem skill)
    {
        //Prevent sending invalid data (null or empty skill)to server
        if (string.IsNullOrWhiteSpace(skill.Name))
        return;

        HttpResponseMessage response;

        if (skill.Id == 0)
        {
            // ADD NEW
            response = await Http.PostAsJsonAsync("api/SkillsModification/AddSkill", skill);

            if (response.IsSuccessStatusCode)
            {
                var created = await response.Content.ReadFromJsonAsync<SkillItem>();

                if (created != null)
                {
                    skill.Id = created.Id; //created skill id from database 
                }
            }
        }
        else
        {
            // UPDATE
            response = await Http.PutAsJsonAsync("api/SkillsModification/UpdateSkill", skill);
        }
        if (response.IsSuccessStatusCode)
        {
            skill.IsEditing = false;

            FrontendSkills = FrontendSkills.ToList();
            BackendSkills = BackendSkills.ToList();
            DatabaseSkills = DatabaseSkills.ToList();
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"ERROR: {error}");
        }

        StateHasChanged();
    }
    protected async Task DeleteSkill(List<SkillItem> section, SkillItem skill)
    {
         if (skill.Id == 0)
        {
            section.Remove(skill);
            StateHasChanged();
            return;
        }

        var response =await Http.DeleteAsync($"api/SkillsModification/Delete/{skill.Id}");
        
        if (response.IsSuccessStatusCode)
        {
            section.Remove(skill);
        }
            StateHasChanged();
    }

    public class SkillItem
    {
        public int Id { get; set; }
        public string Name { get; set; } = "";
         public string Category { get; set; } ="";
        public bool IsEditing { get; set; } = false;
    }
}

